.container {
  max-width: 500px;
}

.logo {
  width: 200px;
}

@media screen and (max-width: 768px) {
    .logo {
      width: 130px
    }
}

input[type=text],
input[type=text]:focus {
  border: none;
  background: rgba(80, 80, 80, 0.1);
  max-width: 500px;
}

[data-trash] {
  cursor: pointer;
}